<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ug.mathe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graficador.GraficadorActivity"
            android:label="@string/title_activity_graficador"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".geometria.GeometriaActivity"
            android:label="@string/title_activity_geometria"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".calculadora.CalculadoraActivity"
            android:label="@string/title_activity_calculadora"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SistEcuaActivity"
            android:label="@string/title_activity_sist_ecua" >
        </activity>
        <activity
            android:name=".graficador.Graficador3dActivity"
            android:label="@string/title_activity_graficador3d" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name=".geometria_plana.GeometriaPlanaActivity"
            android:label="@string/title_activity_geometria_plana"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".geometria_comb.GeometriaCombActivity"
            android:label="@string/title_activity_geometria_comb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ug.mathe.vectores.VectoresActivity"
            android:label="@string/title_activity_vectores"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
